---
import AnimeGrandeCard from "./AnimeGrandeCard.astro";
---

<section
  class="max-w-[80rem] md:mx-auto mx-4 text-white grid grid-cols-1 md:grid-cols-2 mt-2 gap-10"
>
  <AnimeGrandeCard />
  <AnimeGrandeCard />
</section>
