<div>
  <img
    src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=600/catalog/crunchyroll/f92db048f55fd6b757a8450756f887a1.jpg"
    alt=""
  />
</div>
<div class="flex flex-col mt-2 md:mt-10">
  <h4 class="font-bold text-2xl">
    Sword Art Online Alternative: Gun Gale Online
  </h4>
  <div>
    <span class="text-gris"> Sub | Dob </span>
  </div>
  <p class="pb-5">
    Karen Kohiruimaki es una chica universitaria que mide 183 cm y a la que su
    estatura la tiene acomplejada, lo que hace que no se le dé muy bien
    relacionarse con los demás. En cambio, cuando entra al mundo virtual de Gun
    Gale Online sus completos desaparecen, puesto que...
  </p>
  <div class="flex gap-5">
    <a
      href="/"
      class="max-md:w-full bg-orange-500 hover:bg-orange-600 text-neutral-900 px-2 py-2 text-sm md:text-lg font-bold transition duration-300 flex items-center max-md:justify-center z-10"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2"
      >
        <path d="M5 3l14 9-14 9V3z"></path>
      </svg>
      COMENZAR A VER E1
    </a>
    <a
      href=""
      class="border-[3px] border-orange-500 flex items-center text-orange-500 px-2 py-2 max-md:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="rgb(249 115 22)"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-bookmark"
      >
        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
      </svg>
      Añadir a Favoritos
    </a>
  </div>
</div>
