---
const { imagen, titulo, descripcion } = Astro.props;
---

<div
  class="max-md:m-5 m-3 max-md:grid max-md:grid-col-2 max-w-80 bg-negro shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href="#">
    <img src={imagen} alt="" />
  </a>
  <div class="bg-negro">
    <a href="#">
      <h5
        class="text-1xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {titulo}
      </h5>
    </a>
    <small class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {descripcion}
    </small>
  </div>
</div>
