<div class="flex hover:bg-neutral-900 transition duration-150 ease-in-out">
  <a href="">
    <img
      src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=320,height=180/catalog/crunchyroll/229277f27250bcb8a2b9516e54d0f965.jpg"
      alt=""
      class=""
    />
  </a>
  <div class="flex flex-col pl-2">
    <h4>
      <a href=""> I'll Become a Villainess Who Goes Down in History </a>
    </h4>
    <div class="flex items-center">
      <svg
        class="premium-filled-icon--nW2Vi release-episode-card-media-type__icon--L-PmP h-4 w-auto"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        data-t="premium-filled-svg"
        aria-labelledby="premium-filled-svg"
        aria-hidden="true"
        role="img"
        ><title id="premium-filled-svg">Premium</title><path
          class="fill-custom-yellow"
          d="M2.419 13L0 4.797 4.837 6.94 8 2l3.163 4.94L16 4.798 13.581 13z"
        ></path></svg
      >
      <span class="text-gris ml-2">Episodio 5</span>
    </div>

    <div class="flex justify-between">
      <div>
        <span class="text-gris">Subtitulado</span>
      </div>
      <span class="text-[#2abdbb]">12:00</span>
    </div>
  </div>
</div>
