<section class="pt-10">
  <div
    class="max-w-2xl md:max-w-[80rem] mx-4 md:mx-auto text-white text-center m-10"
  >
    <img
      src="https://www.crunchyroll.com/build/assets/img/home/yuzu.png"
      alt="Imagen de gato dormindo"
      class="mx-auto"
    />
    <h3 class="font-bold">
      ¿ Sigues buscando algo que ver? <br />
      Revisa todo Nuestro Catalogo
    </h3>
    <button
      class="max-md:w-full border-[3px] border-orange-500 text-orange-500 px-6 py-2 text-lg font-bold transition duration-300 items-center mt-6"
    >
      Ver Todo
    </button>
  </div>
</section>
