<section class="max-w-[80rem] md:mx-auto mx-4 mt-4">
  <a href="/">
    <img
      src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=2700/CurationAssets/Overlord/Sacred%20Kingdom%20Movie/Catch%20Up/Overlord-SacredKingdom-CatchUp-Banner-2100x700-ES.png"
      alt=""
    />
  </a>
</section>
